<!DOCTYPE html>
<html lang="ja">

<head>
    <title>にゃイッター</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/common.css" rel="stylesheet">
    <!-- BootstrapのCSS読み込み -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49394469-4"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-49394469-4');
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div style="padding:15px">
                <img class="d-flex align-self-end mr-3 header" src="./header.png">

                <form class="text_filed">
                    <span class="help-block">入力するにゃ</span>
                    <textarea id="input_field" class="form-control" rows="3" maxlength="120"></textarea>
                    <h6 class="pull-right text-right" id="count_message">0 / 120</h6>
                </form>

                <div class="button_wrapper">
                    <p class="button">
                        <button type="submit" id="preview" class="btn btn-info">プレビューにゃ</button>
                    </p>
                </div>
                <form class="text_filed">
                    <span class="help-block">確認するにゃ</span>
                    <textarea id="preview_field" class="form-control" rows="3" readonly></textarea>
                </form>
                <div class="button_wrapper" id="tweet_button">
                    <p class="button">
                        <div id="tweet_button_wrap">
                            <button type="submit" id="tweet" class="btn btn-primary">ツイートにゃ</button>
                        </div>
                        <div id="indicator_button_wrap" style="display: none;">
                            <button class="btn btn-primary" id="indicator" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                  </button>
                        </div>
                    </p>
                </div>
                <div class="alert alert-primary" id="complete" style="display:none;" role="alert">
                    <strong>成功にゃ！！</strong>
                    <a id="link_btn" href="#" target="_blank">ツイートを確認しに行くにゃ</a>
                </div>

                <blockquote class="twitter-tweet twitter-tweet-error" data-twitter-extracted-i1574057328956400656="true">
                    <p lang="ja" dir="ltr" id="tweet_text">
                        <a id="link_tweet" href="#"></a>
                    </p>
                </blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                <div class="d-flex justify-content-center">
                    <div class="p-2"><a href="https://newstyleservice.hateblo.jp/entry/terms">利用規約</a></div>
                    <div class="p-2"><a href="https://newstyleservice.hateblo.jp/entry/privacypolicy">プライバシーポリシー</a></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#input_field').keyup(function() {
            var text_max = 120;
            var text_length = $('#input_field').val().length;

            document.getElementById('count_message').innerHTML = text_length + " / " + text_max
        });

        $(function() {
            // Ajax button click
            $('#preview').on('click', function() {
                var input = $('#input_field').val()
                if (input == "") {
                    alert("失敗にゃ。\n入力されてないにゃ")
                    return
                }
                $.ajax({
                    async: true,
                    url: 'replace',
                    type: 'POST',
                    data: {
                        "message": input
                    }
                })

                // Ajaxリクエストが成功した時発動
                .done((data, textStatus, jqXHR) => {
                        if (jqXHR.status == 200) {
                            $('#preview_field').val(data)
                        } else {
                            alert("失敗にゃ。\nごめんにゃ")
                        }
                    })
                    // Ajaxリクエストが失敗した時発動
                    .fail((data) => {
                        alert("失敗にゃ。\nごめんにゃ")
                    })
            });
            $('#tweet').on('click', function() {
                var tweet = $('#preview_field').val()
                if (tweet == "") {
                    alert("失敗にゃ。\n入力されてないにゃ")
                    return
                }
                $("#tweet_button_wrap").css("display", "none")
                $("#indicator_button_wrap").css("display", "block")
                $.ajax({
                        async: true,
                        url: 'post',
                        type: 'POST',
                        data: {
                            "message": tweet
                        }
                    })
                    // Ajaxリクエストが成功した時発動
                    .done((data, textStatus, jqXHR) => {
                        $("#tweet_button_wrap").css("display", "block")
                        $("#indicator_button_wrap").css("display", "none")
                        if (jqXHR.status == 200) {
                            $("#link_btn").attr("href", data)
                            $("#link_tweet").attr("href", data)
                            $("#complete").css("display", "block")
                            twttr.widgets.load();
                        } else {
                            window.location.href = "./auth";
                        }
                    })
                    // Ajaxリクエストが失敗した時発動
                    .fail((data) => {
                        alert("失敗にゃ。\nごめんにゃ")
                    })
            });
        });
    </script>

</body>

</html>