<!DOCTYPE html>
<html lang="ja">

<head>
    <title>にゃイッター</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/common.css" rel="stylesheet">

    <!-- BootstrapのCSS読み込み -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49394469-4"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-49394469-4');
    </script>
    <script data-ad-client="ca-pub-1070562852133600" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div style="padding:15px">
                <img class="d-flex align-self-end mr-3 header" src="./header.png">
                <form class="text_filed">
                    <span class="help-block">入力するにゃ</span>
                    <textarea id="input_field" class="form-control" rows="2" maxlength="120"></textarea>
                    <h6 class="pull-right text-right" id="input_count_message">0 / 120</h6>
                </form>

                <form class="text_filed">
                    <span class="help-block">プレビューにゃ</span>
                    <textarea id="preview_field" class="form-control" rows="2"></textarea>
                    <h6 class="pull-right text-right" id="preview_count_message">0 / 140</h6>
                </form>
                <form class="text_filed">
                    <span class="help-block">リプライするツイートのリンクを入力するにゃ</span>
                    <textarea id="reply_field" class="form-control" rows="1" maxlength="120"></textarea>
                </form>
                <div class="button_wrapper" id="tweet_button">
                    <p class="button">
                        <div id="tweet_button_wrap">
                            <button type="submit" id="clear" class="btn btn-outline-primary">クリアにゃ</button>
                            <button type="submit" id="tweet" class="btn btn-primary">ツイートにゃ</button>
                        </div>
                        <div id="indicator_button_wrap" style="display: none;">
                            <button class="btn btn-primary" id="indicator" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                  </button>
                        </div>
                    </p>
                </div>
                <div class="alert alert-primary" id="complete" style="display:none;" role="alert">
                    <strong>成功にゃ！！</strong>
                    <a id="link_btn" href="#" target="_blank">ツイートを確認しに行くにゃ</a>
                </div>

                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                <div class="d-flex justify-content-center">
                    <div class="p-2"><a href="https://newstyleservice.hateblo.jp/entry/terms">利用規約</a></div>
                    <div class="p-2"><a href="https://newstyleservice.hateblo.jp/entry/privacypolicy">プライバシーポリシー</a></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            var input = $.cookie('message');
            if (input != null) {
                $('#input_field').val(input)
                $('#input_field').trigger("keyup")
            }
        });
        $(function() {
            var $textarea = $('#input_field');
            var lineHeight = parseInt($textarea.css('lineHeight'));
            $textarea.on('input', function(e) {
                var lines = ($(this).val() + '\n').match(/\n/g).length + 1;
                $(this).height(lineHeight * lines);
            });
        });

        function loadInputTextCount() {
            var text_max = 110;
            var text_length = $('#input_field').val().length;

            document.getElementById('input_count_message').innerHTML = text_length + " / " + text_max
        }

        function loadPreviewTextCount() {
            var preview_text_max = 125;
            var preview_text_length = $('#preview_field').val().length;

            document.getElementById('preview_count_message').innerHTML = preview_text_length + " / " + preview_text_max

            var $textarea = $('#preview_field');
            var lineHeight = parseInt($textarea.css('lineHeight'));
            var lines = ($('#preview_field').val() + '\n').match(/\n/g).length + 1;
            $('#preview_field').height(lineHeight * lines);
        }
        $('#input_field').keyup(function() {
            loadInputTextCount();
            var input = $('#input_field').val()

            $.ajax({
                    async: true,
                    url: 'replace',
                    type: 'POST',
                    data: {
                        "message": input
                    }
                })
                // Ajaxリクエストが成功した時発動
                .done((data, textStatus, jqXHR) => {
                    if (jqXHR.status == 200) {
                        $('#preview_field').val(data)
                        $("#complete").css("display", "none")
                        loadPreviewTextCount();
                    } else if (jqXHR.status == 400) {
                        alert("文字数が限界を超えたにゃ\n気をつけるにゃ\n出直すにゃ")
                    } else {
                        alert("失敗にゃ\nごめんにゃ")
                    }
                })
                // Ajaxリクエストが失敗した時発動
                .fail((data, textStatus, jqXHR) => {
                    alert("失敗にゃ\nごめんにゃ")
                })
        });
        $(function() {
            $('#clear').on('click', function() {
                $('#input_field').val("")
                $('#preview_field').val("")
                $('#reply_field').val("")
            })
        });
        $(function() {
            $('#tweet').on('click', function() {
                var tweet = $('#preview_field').val()
                var input = $('#input_field').val()
                var link = $('#reply_field').val()
                if (tweet == "") {
                    alert("失敗にゃ\n入力されてないにゃ")
                    return
                }
                $("#tweet_button_wrap").css("display", "none")
                $("#indicator_button_wrap").css("display", "block")
                $.ajax({
                    async: true,
                    url: 'post',
                    type: 'POST',
                    data: {
                        "message": tweet,
                        "input": input,
                        "reply": link
                    }
                })

                // Ajaxリクエストが成功した時発動
                .done((data, textStatus, jqXHR) => {
                        if (jqXHR.status == 202) {
                            var res = confirm("また認証してほしいにゃ")
                            if (res) {
                                window.location.href = "./auth";
                            }
                            return
                        }

                        $("#link_btn").attr("href", data)
                        $("#complete").css("display", "block")

                    })
                    // Ajaxリクエストが失敗した時発動
                    .fail((data, textStatus, jqXHR) => {
                        alert("失敗にゃ\nごめんにゃ")

                    }).always((data) => {
                        $("#tweet_button_wrap").css("display", "block")
                        $("#indicator_button_wrap").css("display", "none")
                    })
            });
        });
    </script>

</body>

</html>
